
CREATE TABLE LIGNE_DE_COMMANDE(
        ID_LC       Int NOT NULL ,
        QUANTITE    BigInt ,
        ID_COMMANDE Int NOT NULL ,
        ID_INFO     Int NOT NULL ,
	CONSTRAINT LIGNE_DE_COMMANDE_PK PRIMARY KEY (ID_LC) ,
	CONSTRAINT LIGNE_DE_COMMANDE_COMMANDE_FK FOREIGN KEY (ID_COMMANDE) REFERENCES COMMANDE(ID_COMMANDE) ,
	CONSTRAINT LIGNE_DE_COMMANDE_ARTICLE0_FK FOREIGN KEY (ID_INFO) REFERENCES INFO(ID_INFO)
);



CREATE TABLE VILLE(
        ID_VILLE  Int NOT NULL ,
	DEP_CODE  Varchar(3) ,
	INSEE     Varchar(5) ,
	ZIP_CODE  Varchar(5) ,
        NOM_VILLE Varchar(255) ,
	SLUG	  Varchar(255) ,
	GPS_LAT   Float(16) ,
	GPS_LNG   Float(17) ,
	CONSTRAINT VILLE_PK PRIMARY KEY (ID_VILLE)
);



CREATE TABLE ADRESSE(
        ID_ADRESSE Int NOT NULL ,
        NUM_RUE    BigInt ,
        RUE        Char ,
        ID_VILLE   Int NOT NULL ,
	CONSTRAINT ADRESSE_PK PRIMARY KEY (ID_ADRESSE) ,
	CONSTRAINT ADRESSE_VILLE_FK FOREIGN KEY (ID_VILLE) REFERENCES VILLE(ID_VILLE)
);



CREATE TABLE HABITER(
        ID_CLIENT    Int NOT NULL ,
        ID_ADRESSE   Int NOT NULL ,
        TYPE_ADRESSE Char ,
	CONSTRAINT HABITER_PK PRIMARY KEY (ID_CLIENT,ID_ADRESSE) ,
	CONSTRAINT HABITER_CLIENT_FK FOREIGN KEY (ID_CLIENT) REFERENCES CLIENT(ID_CLIENT) ,
	CONSTRAINT HABITER_ADRESSE0_FK FOREIGN KEY (ID_ADRESSE) REFERENCES ADRESSE(ID_ADRESSE)
);
